.dashboard {
    margin-top: -13px;
}
.prestadores{
    margin-top: -19px;
}
.barra-izq{
    margin-top: -96px;
}
.fa-bars:before {
    content: "\f0c9";
    position: relative;
    top: 23px;
}
.kDtnnK {
    background: #ffffff;
    color: #000000;
    height: 100%;
    width: 172px;
    min-width: 148px;
    text-align: left;
    -webkit-transition: width,left,right,0.3s;
    transition: width,left,right,0.3s;
    position: relative;
    z-index: 1009;
}