  .Principal {
      border: 1px solid blue;
      padding: 40px;
      background-color: white;
      align-items: center;
      background-color: #fff;
      border: none;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
      box-sizing: border-box;
      margin: 40px 0 0;
      padding: 20px 0 28px;
      width: 396px;
  }
  .Secundario{
    text-align: center;
  }
  .formulario{
    background-color:#f0f2f5;
    margin-left: 147px;
  }
  .campo-formulario{
    width: 364px;
    height: 52px;
    border-radius: 6px;;
    margin-top: 23px;
    background: #FFFFFF url(/rsrc.php/v3/yO/r/YQNfPR9MJfx.png) repeat-x;
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 16px;
    padding: 0 8px;
    vertical-align: middle;
  }
  .campo-formulario :hover{
    color: blue;
  }
  .boton-login{
    height: 48px;
    background-color: #1877f2;
    margin-top: 23px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 364px;
    color: hsl(0, 0%, 100%);
    display: grid;
    text-decoration: none;
    text-align: center;
    margin-left: 14px;
  }
  .boton-login :hover{
    background-color:#032046 ;
    text-decoration:none;
  }
  .enlace{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    margin-top: 10px;
  }
  .boton-registrar{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    margin-top: 10px;
    background-color: #42b72a;
    color:#FFFFFF;
    width: 190px;
    height: 48px;
  }
  .barra{
    color: #f0f2f5;
  }
  .texto-col1{
    text-align: justify;
    margin-top: 117px;
  }
  .color-fondo{
    padding: 200px;
    background-color: #f0f2f5;
  }
.TODOLOGIN{
  background-color: #f0f2f5;
  }
.entrar{
  color: #8fccff;
  font-size: 22px;
  text-align: center;
}
